DATABASE_URI=mongodb+srv://kishorshahi67_db_user:<iCfwVupWN0yETuw8>@travelbookingwebsite.do1t2tv.mongodb.net/?appName=TravelBookingWebsite
PAYLOAD_SECRET=hike-globally-payload-secret-key-32
NEXT_PUBLIC_SERVER_URL=https://hikeglobally.com
PAYLOAD_PUBLIC_SERVER_URL=https://hikeglobally.com

# Email
RESEND_API_KEY=re_...
EMAIL_FROM=bookings@yourdomain.com

# Optional
NEXT_PUBLIC_MAPBOX_TOKEN=...
